torch==2.5.1
transformers==4.47.1
tokenizers==0.21.0
accelerate==1.2.1
safetensors==0.4.5
pyvi==0.1.1
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
datasets==3.2.0
matplotlib==3.9.4
tqdm==4.67.1
regex==2024.11.6